.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ContainerOverride
{
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
  max-width: 1900px;
  background-color: transparent !important;
}

.navbar {background: linear-gradient(45deg, #7da1d7, #df9292);}

.navbar .navbar-nav .nav-link
{
  color:#fff;
}


.navbar .navbar-nav .dropdown-menu
{
  background: linear-gradient(45deg, #7da1d7, #df9292);
}
.navbar .navbar-nav .dropdown-menu .nav-link
{
  color:#fff;
}

.navbar .navbar-nav .dropdown-menu .nav-link
{
  color:#fff;
}

.navbar .navbar-brand
{
  color:#fff;
  font-weight: bold;
  font-size: 30px;
}

.btn.btn-primary.mx-2.logoutbtn
{
  background-color: #dfc5c5;
  border-color: #fff;
  color: #fff;
}
.navbar-expand-lg .navbar-nav .dropdown-menu
{
  min-width: 13rem !important;
}
.btn-primary
{
  
  background: linear-gradient(45deg, #7da1d7, #221752);
  width: 71px;
  font-size: large;
  font-weight: bold;
}

.tr-custom {
  background: linear-gradient(45deg, #7da1d7, #df9292);
  color: #fff;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  /* background: linear-gradient(45deg, #e9eef4, #fddbdb); */
  --bs-table-accent-bg: rgb(221 92 92 / 5%);
}

.btn-danger
{
  background: linear-gradient(45deg, #9b555b, #ff0000);
  width: 71px;
  font-size: large;
  font-weight: bold;
}

.form-label
{
  font-weight: bold;
  color:#494444;
}

.modal-title
{
  font-weight: bold;
  color:#494444;
}
h2, p{
  color:#4e4444; 
}





